[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-admin = "*"
flask-script = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-login = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
flask-wtf = "*"
gunicorn = "*"
python-dotenv = "*"
flask-debugtoolbar = "*"
pytest = "*"
pytest-flask = "*"
pytest-mock = "*"
pytest-coverage = "*"
pytest-emoji = "*"
pytest-codestyle = "*"

[requires]
python_version = "3.8"
