{% extends "layout.html" %}
{% block body %}

  <h3>みんなと遊ぶ</h3>

  <div class="container text-center">
    <h1 class="display-4">第{{ game['num'] }}問 /10</h1>

    <div class="row">
      <div class="col-md-6 mx-auto">

        <span class="align-items-center justify-content-center">
          {% if game.judge == 1 %}
            <i class="far fa-circle fa-5x fa-fw icon-correct"></i>
          {% else %}
            <i class="fas fa-times fa-5x fa-fw icon-blue icon-wrong"></i>
          {% endif %}
        </span>

        <p>正解は</p>
        <div class="card">
          <div class="card-body">
            <h5>{{ game.correct_song.artist }}</h5>
            <h5>{{ game.correct_song.track }}</h5>
            <img alt="jacket_img" class="img-thumbnail" src="{{ game.correct_song.jacket_img }}">
          </div>
        </div>

      </div>
    </div>

    <div>
      {% if game['num'] == 10 %}
        <h2>結果発表まで、あと<span id="countDown"></span>秒</h2>
      {% else %}
        <h2>次の問題まで、あと<span id="countDown"></span>秒</h2>
      {% endif %}
    </div>

  </div>


  <script type="text/javascript">
    $(document).ready(function () {
      const audio = new Audio("{{game['correct_song'].preview}}#t=7,22");

      const judge = {{ game.judge }};
      if (judge === 1) {
        const sound_question = new Audio("{{ url_for('static', filename='right.mp3') }}");
        sound_question.play();
      } else {
        const sound_question = new Audio("{{ url_for('static', filename='wrong.mp3') }}");
        sound_question.play();
      }

      const startMusic = () => {
        audio.play();
      };
      setTimeout(startMusic, 1000);

      const display_time = {{ game.DISPLAY_TIME }};
      const limit_time = {{ game.limit_time}};
      const game_num = {{ game.num}};
      let jump = false;

      (function loop() {
        const now = Math.floor(Date.now() / 1000);
        const remained_time = Math.floor(limit_time - now, 0);

        if (remained_time > -1) {
          console.log(remained_time);
          $("#countDown").text(remained_time);

        } else if (remained_time <= display_time * -1 && !jump) {
          jump = true;

          if (game_num === 10) {
            location.href = "{{ url_for('result_multi') }}";
          }

          location.href = "{{ url_for('question_multi') }}";
        }

        setTimeout(loop, 100);
      })();

    }, false);
  </script>
{% endblock %}
