{% extends "layout.html" %}
{% block body %}

  <!-- Vue container -->
  <div id="app">
    <mycomp></mycomp>
  </div>


  <!-- template -->
  {% raw %}
  <script type="text/x-template" id="mycomp-template">
    <div>
      <h4 class="mb-3"><span class="badge badge-secondary">みんなと対戦モード</span></h4>

      <div class="text-center">
        <h1>第{{ game_num }}問 /10</h1>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-sm-6">
          <div v-if="game_judge === 1">
            <i class="far fa-circle fa-5x fa-fw icon-correct"></i>
          </div>
          <div v-else>
            <i class="fas fa-times fa-5x fa-fw icon-blue icon-wrong"></i>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center mt-3">
        <div class="col-12">
          <span class="small">正解は</span>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
              <h5>{{ correct_song.artist }}</h5>
            </div>
            <div class="card-body">
              <h6>{{ correct_song.track }}</h6>
              <img alt="jacket_img" class="img-thumbnail border-none" v-bind:src="correct_song.jacket_img">
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-3">
        <h2 v-if="game_num === 10" class="">
          結果発表まで、あと<span class="text-danger">{{ remained_time | displayZero }}</span>秒
        </h2>
        <h2 v-else class="">
          次の問題まで、あと<span class="text-danger">{{ remained_time | displayZero }}</span>秒
        </h2>
      </div>

    </div>
  </script>
  {% endraw %}


  <!-- Vue script -->
  <script>
    //template object
    Vue.component('mycomp', {
      template: '#mycomp-template',
      data: function () {
        return {
          game_num: {{ game.num }},
          game_judge: {{ game.judge }},
          correct_song: {{ game.correct_song |tojson }},
          sound_right: "{{ url_for('static', filename='right.mp3') }}",
          sound_wrong: "{{ url_for('static', filename='wrong.mp3') }}",
          display_time: {{ game.DISPLAY_TIME }},
          limit_time: {{ game.limit_time}},
          result_multi: "{{ url_for('result_multi') }}",
          question_multi: "{{ url_for('question_multi') }}",
          remained_time: this.limit_time
        }
      },
      methods: {
        countDown: function () {
          let first_redirect = true;
          const now = Math.floor(Date.now() / 1000);
          this.remained_time = Math.floor(this.limit_time - now, 0);

          if (this.remained_time <= this.display_time * -1 && first_redirect) {
            first_redirect = false;

            if (this.game_num === 10) {
              location.href = this.result_multi;
            }

            location.href = this.question_multi;
          }

          setTimeout(this.countDown, 1000);
        },

        sleep: function (timer) {
          return new Promise((resolve) => {
            setTimeout(() => {
              resolve()
            }, timer)
          })
        },

        songSound: async function () {
          const audio = new Audio(this.correct_song.preview + "#t=7,22");
          await this.sleep(1000)
          audio.play();
        },

        soundEffect: function () {
          let sound_effect
          if (this.game_judge === 1) {
            sound_effect = new Audio(this.sound_right);
          } else {
            sound_effect = new Audio(this.sound_wrong);
          }
          sound_effect.play();
        },

      },
      filters: {
        displayZero: function (num) {
          if (num < 0) {
            return 0
          } else {
            return num
          }
        }
      },

      created: function () {
        this.countDown()
        this.soundEffect()
        this.songSound()
      },
    });

    //start Vue.
    new Vue({
      el: '#app',
    });
  </script>
{% endblock %}
