{% extends "layout.html" %}
{% block body %}

  <!-- Vue container -->
  <div id="app">
    <mycomp></mycomp>
  </div>


  <!-- template -->
  {% raw %}
  <script type="text/x-template" id="mycomp-template">
    <div>
      <h4 class="mb-3"><span class="badge badge-secondary">みんなと対戦モード</span></h4>

      <div class="text-center">
        <h1>第{{ game_num }}問 /10</h1>
        <h2>あと<span class="text-danger">{{ remained_time | displayZero }}</span>秒</h2>
      </div>

      <div>
        <form v-bind:action="record_log_multi" class="" method=post>
          <div class="row">

            <div v-for="select in select_songs" class="col-sm-3">
              <div class="card h-100 border-none">

                <button class="h-100 alert btn-outline-dark border border-dark align-top" name="answer"
                        v-bind:value="select.id">
                  <span class="h5">{{ select.artist }}</span>
                  <br><br>
                  <span class="h6">{{ select.track }}</span>
                </button>

              </div>
            </div>

          </div>
          <button ref="over" class="timeOverBtn" name="answer" value="0" style="display: none;"></button>

        </form>
      </div>

    </div>
  </script>
  {% endraw %}


  <!-- Vue script -->
  <script>
    //template object
    Vue.component('mycomp', {
      template: '#mycomp-template',
      data: function () {
        return {
          game_num: {{ game.num }},
          record_log_multi: "{{ url_for('record_log_multi') }}",
          select_songs: {{ game.select_song |tojson }},
          correct_song: {{ game.correct_song |tojson }},
          sound_effect_url: "{{ url_for('static', filename='question.mp3') }}",
          display_time: {{ game.DISPLAY_TIME }},
          limit_time: {{ game.limit_time}},
          remained_time: this.limit_time
        }
      },
      methods: {
        countDown: function () {
          let first_redirect = true;
          const now = Math.floor(Date.now() / 1000);
          this.remained_time = Math.floor(this.limit_time - now, 0);

          if (this.remained_time <= this.display_time * -1 && first_redirect) {
            first_redirect = false;
            //タイムオーバーで自動でクリック
            $(".timeOverBtn").click();
          }

          setTimeout(this.countDown, 1000);
        },

        sleep: function (timer) {
          return new Promise((resolve) => {
            setTimeout(() => {
              resolve()
            }, timer)
          })
        },

        songSound: async function () {
          const audio = new Audio(this.correct_song.preview + "#t=3,30");
          await this.sleep(2000)
          audio.play();
        },

        soundEffect: function () {
          let audio = new Audio(this.sound_effect_url);
          audio.play();
        }

      },
      filters: {
        displayZero: function (num) {
          if (num < 0) {
            return 0
          } else {
            return num
          }
        }
      },

      created: function () {
        this.countDown()
        this.soundEffect()
        this.songSound()
      },
    });


    //start Vue.
    new Vue({
      el: '#app',
    });
  </script>
{% endblock %}
