{% extends "layout.html" %}
{% block body %}

  <!-- Vue container -->
  <div id="app">
    <mycomp></mycomp>
  </div>

  <!-- template -->
  {% raw %}
  <script type="text/x-template" id="mycomp-template">
    <div>
      <h4 class="mb-3"><span class="badge badge-secondary">ひとりでじっくりモード</span></h4>

      <div class="text-center">
        <h1>第{{ game_num }}問 /10</h1>
      </div>

      <div v-if="agent_sp" class="row justify-content-center my-3">
        <button v-on:click="spSound" class="btn btn-info col-11 btn-lg">
          <span v-if="click_times % 2 === 0">音楽を再生♪</span>
          <span v-if="click_times % 2 === 1">停止</span>
        </button>
      </div>

      <div>
        <form v-bind:action="record_log_url" method=post>
          <div class="row">

            <div v-for="select in select_songs" class="col-sm-3">
              <div class="card h-100 border-none">

                <button class="h-100 alert btn-outline-dark border border-dark align-top" name="answer"
                        v-bind:value="select.id">
                  <span class="h5">{{ select.artist }}</span>
                  <br><br>
                  <span class="h6">{{ select.track }}</span>
                </button>

              </div>
            </div>

          </div>
        </form>
      </div>

    </div>
  </script>
  {% endraw %}


  <!-- Vue script -->
  <script>
    //template object
    Vue.component('mycomp', {
      template: '#mycomp-template',
      data: function () {
        return {
          game_num: {{ game['num'] }},
          record_log_url: "{{ url_for('record_log') }}",
          select_songs: {{ game['select_song'] |tojson }},
          correct_song: {{ game.correct_song |tojson }},
          sound_effect_url: "{{ url_for('static', filename='question.mp3') }}",
          agent_sp: false,
          click_times: 0,
          audio: null
        }
      },
      methods: {
        sleep: function (timer) {
          return new Promise((resolve) => {
            setTimeout(() => {
              resolve()
            }, timer)
          })
        },

        songSound: async function () {
          if (this.click_times % 2 === 0) {
            this.audio = new Audio(this.correct_song.preview + "#t=3,30");
            await this.sleep(2000)
            this.audio.play();
          } else {
            console.log('音楽停止');
            this.audio.pause()
          }
        },

        soundEffect: function () {
          if (this.click_times === 0) {
            let audio = new Audio(this.sound_effect_url);
            audio.play();
          }
        },

        chkAgent: function () {
          if (navigator.userAgent.match(/(iPhone|iPad|iPod|Android.*Mobile)/i)) {
            console.log('sp');
            this.agent_sp = true
          } else {
            console.log('pc');
            this.agent_sp = false
          }
        },

        spSound: function () {
          this.soundEffect(this.click_times)
          this.songSound(this.click_times)
          this.click_times += 1
        }

      },
      created: function () {
        this.soundEffect()
        this.songSound()
        this.chkAgent()
      },
    });

    //start Vue.
    new Vue({
      el: '#app',
    });
  </script>
{% endblock %}
