{% from "_render_field.html" import render_set %}
{% extends "layout.html" %}
{% block body %}

  <h4 class="mb-3"><span class="badge badge-secondary">ひとりでじっくりモード</span></h4>
  <h1>問題を作ろう</h1>

  <div class="mt-2">
    <p>そのままスタートを押せば、完全ランダム曲で問題がスタート!<br>
      項目を入力してスタートすれば、問題曲を限定できるよ♪</p>
  </div>

  <form action="{{ url_for('setting_game') }}" method="POST" class="mt-3">

    <div class="form-row">
      <div class="form-group col-10">
        {{ render_set(form.artist, class='form-control') }}
      </div>
      <div class="form-group col-10">
        {{ render_set(form.genre, class='form-control') }}
      </div>
    </div>

    <div class="form-row pl-1 my-1">
      リリース時期
    </div>

    <div class="form-row">
      <div class="form-group col-5">
        {{ render_set(form.release_from, class='form-control') }}
      </div>
      <div class="form-group col-5">
        {{ render_set(form.release_end, class='form-control') }}
      </div>
    </div>

    <div class="form-row">
      <button class="btn btn-primary form-control col-10" type="submit">スタート</button>
    </div>

  </form>

{% endblock %}
