{% extends "layout.html" %}
{% block body %}

  <!-- Vue container -->
  <div id="app">
    <mycomp></mycomp>
  </div>

  <!-- template -->
  {% raw %}
  <script type="text/x-template" id="mycomp-template">
    <div>

      <h4 class="mb-3"><span class="badge badge-secondary">みんなと対戦モード</span></h4>
      <h1>メンバー受付中・・</h1>
      <h2 id="text_limit">開始まであと<span id="countDown" class="text-danger"></span>秒</h2>
      <h3>ゲームID: {{ GAME_ID }}</h3>

      <table class="table my-3">
        <thead class="thead-light">
        <tr>
          <th colspan="3" class="text-center">参加メンバー</th>
        </tr>
        </thead>
        <tr class="font-weight-bolder">
          <td>ユーザー名</td>
          <td>総合スコア</td>
          <td>正解率</td>
        </tr>
        <tr v-for="member in memberData">
          <td> {{ member[0] }}</td>
          <td> {{ member[1] }}</td>
          <td> {{ member[2] }}</td>
        </tr>
      </table>

      <div class="mt-2 alert alert-dismissable bg-dark">
        <h5 class="text-light">ゲーム説明</h5>
        <ul class="list-group">
          <li class="list-group-item">最大5人参加の早押し曲当てクイズ</li>
          <li class="list-group-item">全部で10問</li>
          <li class="list-group-item">スコアを多く取とったユーザーが勝利</li>
          <li class="list-group-item">獲得スコア順にランキングされる</li>
          <li class="list-group-item">早く正解するほど高スコアをもらえる</li>
          <li class="list-group-item">1番:50点 2番:40点 3番:30点 4番:20点 5番:10点</li>
        </ul>
      </div>

    </div>
  </script>
  {% endraw %}

  <!-- Vue script -->
  <script>
    //template object
    Vue.component('mycomp', {
      template: '#mycomp-template',
      data: function () {
        return {
          memberData: null,
          MAX_MEMBER: {{ game.MAX_MEMBER}},
          DelayTime: 3,
          WAITING_TIME: {{ game.START_WAITING_TIME}},
          TIMER_SOUND_URL: "{{ url_for('static', filename='timer.m4a') }}",
          GAME_ID: {{ game.game_id }},
          DISPLAY_TIME: {{ game.DISPLAY_TIME }},
          LIMIT_TIME: {{ game.limit_time}},
        }
      },
      methods: {
        countDown: function () {
          let first_redirect = true;
          const now = Math.floor(Date.now() / 1000);
          const remained_time = Math.floor(this.LIMIT_TIME - now, 0);

          if (remained_time > -1) {
            console.log(remained_time);
            $("#countDown").text(remained_time);

          } else if (remained_time === this.DISPLAY_TIME * -1 && first_redirect) {
            first_redirect = false;
            location.href = "{{ url_for('question_multi') }}";
          }

          setTimeout(this.countDown, 1000);
        },

        sleep: function (timer) {
          return new Promise((resolve) => {
            setTimeout(() => {
              resolve()
            }, timer)
          })
        },

        getMember: async function () {
          for (let i = 0; i < this.numOfTime; i++) {
            await axios.get('/game/participating_members', {
              params: {
                game_id: this.GAME_ID
              }
            })
                .then(res => {
                  this.memberData = res.data
                })

            if (this.memberData.length === this.MAX_MEMBER) {
              console.log('満員!')
              return Promise.resolve(1);
            }
            await this.sleep(this.DelayTime * 1000)
          }
        },

        timerSound: function () {
          let audio = new Audio(this.TIMER_SOUND_URL);
          audio.loop = true;
          audio.play();
        }

      },
      computed: {
        numOfTime: function () {
          return this.WAITING_TIME / this.DelayTime
        }

      },
      created: function () {
        this.countDown()
        this.getMember()
        this.timerSound()
      },
    });

    //start Vue.
    new Vue({
      el: '#app',
    });
  </script>
{% endblock %}
