{% extends "layout.html" %}
{% block body %}
  <p>multi</p>
  {{ game.game_id }}


  <h1>メンバー受付中</h1>

  <div id="wrap_join">
    <p id="text_limit">締め切りまであと<span id="countDown"></span>秒</p>
    <p id="text_join">あそぶメンバー</p>
    <div id="list_member">
      <ul>
        <!--      todo:vue.js導入時にこの部分を作成する。-->
      </ul>
    </div>
  </div>


  <script type="text/javascript">
    let ready = $(document).ready(function () {
      var start_display_time = {{ game.START_DISPLAY_TIME }};
      var limit_time = {{ game.limit_time}};
      var jump = false;


      function update() {
        $.getJSON('get', function (game) {
          var html = '<ul>', i, j, id;
          for (i = 1; i < 5 && (id = game['game']['Game']['entry_user' + i]) !== null; i++) {
            for (j = 0; j < game['users'].length; j++) {
              if (game['users'][j]['User']['id'] === id) {
                html += '<li><span>' + game['users'][j]['User']['username'] + '</span>が参加しました。</li>';
                break;
              }
            }
          }
          $('#list_member').html(html += '</ul>');
        });
      }


      (function loop() {
        var now = Math.floor(Date.now() / 1000);
        var remained_time = Math.floor(limit_time - now, 0);

        console.log(remained_time);

        if (remained_time > -1) {
          $("#countDown").text(remained_time);
          // update();

          // if (remained_time <= 0) {
          //   $("#text_join").hide();
          //   $("#text_limit").hide();
          //   $("#wrap_join #list_member").hide();
          // }

        } else if (remained_time === start_display_time * -1 && !jump) {
          jump = true;
          location.href = "{{ url_for('question_multi') }}";
        }

        setTimeout(loop, 100);
      })();
    });

  </script>

{% endblock %}
