{% extends "layout.html" %}
{% block body %}


  <h1>メンバー受付中</h1>
  <h2>ゲームID: {{ game.game_id }}</h2>

  <div id="wrap_join">
    <h3 id="text_limit">締め切りまであと<span id="countDown"></span>秒</h3>
    <p id="text_join">あそぶメンバー</p>
    <div id="list_member">
      <ul>
        <!--      todo:vue.js導入時にこの部分を作成する。-->
      </ul>
    </div>
  </div>


  <script type="text/javascript">
    let ready = $(document).ready(function () {
      let audio = new Audio("{{ url_for('static', filename='timer.m4a') }}");
      audio.loop = true;
      audio.play();

      const display_time = {{ game.DISPLAY_TIME }};
      const limit_time = {{ game.limit_time}};
      let jump = false;

      function update() {
        $.getJSON('get', function (game) {
          let html = '<ul>', i, j, id;
          for (i = 1; i < 5 && (id = game['game']['Game']['entry_user' + i]) !== null; i++) {
            for (j = 0; j < game['users'].length; j++) {
              if (game['users'][j]['User']['id'] === id) {
                html += '<li><span>' + game['users'][j]['User']['username'] + '</span>が参加しました。</li>';
                break;
              }
            }
          }
          $('#list_member').html(html += '</ul>');
        });
      }


      (function loop() {
        const now = Math.floor(Date.now() / 1000);
        const remained_time = Math.floor(limit_time - now, 0);

        if (remained_time > -1) {
          console.log(remained_time);
          $("#countDown").text(remained_time);

          // update();

          // if (remained_time <= 0) {
          //   $("#text_join").hide();
          //   $("#text_limit").hide();
          //   $("#wrap_join #list_member").hide();
          // }

        } else if (remained_time === display_time * -1 && !jump) {
          jump = true;
          location.href = "{{ url_for('question_multi') }}";
        }

        setTimeout(loop, 100);
      })();
    });

  </script>

{% endblock %}
