{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('update_entry', id=entry.id) }}" class=add-entry method=post>
    <div class="form-group">
        <label for="InputTitle">タイトル</label>
        <input class="form-control" entry.title id="InputTitle" name=title type="text" value={{ }}>
    </div>
    <div class="form-group">
        <label for="InputText">本文</label>
        <textarea class="form-control" id="InputText" name=text rows="3">{{ entry.text | safe }}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">更新</button>
</form>

{% endblock %}
