{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <h1 class="display-4 text-center col-12">クイズ! Intro Don!!</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <p>ひとりは時間制限なしのじっくり曲当てクイズ<br>
        みんなは最大5人参加の早押しクイズ</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <button class="btn btn-primary col-4 m-1" onclick="location.href='{{ url_for('setting_game') }}'">
      ひとりで遊ぶ
    </button>

    <button class="btn btn-primary col-4 m-1" onclick="location.href='{{ url_for('setting_multi') }}'">
      みんなと遊ぶ
    </button>
  </div>

  <h2 class="text-center mt-4">{{ user.name }}</h2>

  <div class="row justify-content-center">
    <table class="table col-8">
      <tr>
        <td>参加ゲーム数</td>
        <td>{{ user.sum_game }}</td>
      </tr>
      <tr>
        <td>合計回答数</td>
        <td>{{ user.sum_answer }}</td>
      </tr>
      <tr>
        <td>合計正解数</td>
        <td>{{ user.sum_correct }}</td>
      </tr>
      <tr>
        <td>総獲得スコア</td>
        <td>{{ user.sum_score }}</td>
      </tr>
      <tr>
        <td>正解率</td>
        <td>{{ user.rate }}</td>
      </tr>
    </table>
  </div>

{% endblock %}
