{% from "_render_field.html" import render_field %}
{% extends "layout.html" %}
{% block body %}
  <div class="container text-center">

    <h1 class="display-2">クイズ! Intro Don!!</h1>

    {#  todo:レイアウト整える#}
    <div>
      <p>5人で早押し対戦!<br>
        1人でじっくり曲当て!</p>
    </div>

    <form action="{{ url_for('index') }}" method="POST">
      {{ form.csrf_token }}

      {{ render_field(form.username ) }}

      {{ render_field(form.password ) }}

      <button class="btn btn-primary" type="submit">ログイン</button>
    </form>

    <button class="btn btn-secondary m-3 inline" onclick="location.href='{{ url_for('create_user') }}'">
      アカウント作る
    </button>

    <button class="btn btn-secondary m-3 inline" onclick="location.href='{{ url_for('setting_game') }}'">
      簡易版で遊ぶ
    </button>

  </div>
{% endblock %}
