.card {
  margin: 0.25rem;
}

.introdon-body {
  padding: 1.25em;
}

* {
  font-family: 'Helvetica Neue', monospace;
}

.icon-correct {
  color: Tomato;
}

.icon-wrong {
  color: blue;
}

.border-none {
  border: none
}
