{% extends "layout.html" %}
{% block body %}

{% for song in songs %}
<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>title</th>
    <th>artist</th>
    <th>genre</th>
    <th>album</th>
    <th>jacket_img</th>
    <th>preview</th>
    <th>created_at</th>
    <th>modified_at</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>{{song.id}}</th>
    <td>{{song.title}}</td>
    <td>{{song.artist}}</td>
    <td>{{song.genre}}</td>
    <td>{{song.album}}</td>
    <td>{{song.jacket_img}}</td>
    <td>{{song.preview}}</td>
    <td>{{song.created_at}}</td>
    <td>{{song.modified_at}}</td>
  </tr>
  </tbody>
</table>

{% else %}
登録曲がありません
{% endfor %}

{% endblock %}
